.venv
governance-emails.csv
bulk-email-sender.log
prospects-email.csv
.env
prospects-email-cleaned.csv
prospects-email-cleaned-2.csv
governance-email-cleaned.csv
governance-email-cleaned-2.csv
.env.it
.env.pension
.env.governance
governance-email-super-cleaned.csv
prospects-email-super-cleaned.csv
emails-new.csv
combined-emails-cleaned.csv
combined-emails-cleaned-2.csv
combined-emails-cleaned-1.csv