.venv
emails/old/governance-emails.csv
bulk-email-sender.log
emails/old/prospects-email.csv
.env
emails/old/prospects-email-cleaned.csv
emails/old/prospects-email-cleaned-2.csv
emails/old/governance-email-cleaned.csv
emails/old/governance-email-cleaned-2.csv
.env.it
.env.pension
.env.governance
emails/old/governance-email-super-cleaned.csv
emails/old/prospects-email-super-cleaned.csv
emails/old/emails-new.csv
emails/old/combined-emails-cleaned.csv
emails/old/combined-emails-cleaned-2.csv
emails/old/combined-emails-cleaned-1.csv
failed-emails.xlsx
valid-emails.xlsx
emails/old/main-combined.csv
emails
assets
credentials.json
token-*.json
